@page "/"
@using Scorecard.Components.Player

<PageTitle>Index</PageTitle>

@if (Clubs == null)
{
    <label>Loading...</label>
}
else
{
    <div class="game-form-grid">
        <select class="form-control" @onchange="OnClubChange">
            <option value="">Select club</option>
            @foreach (var club in Clubs)
            {
                <option value="@club.Id">@club.Name</option>
            }
        </select>
        @if (SelectedClub != "")
        {
            <select class="form-control" @onchange="OnCourseChange">
                <option value="">Select course</option>
                @foreach (var course in Clubs.Single(t => t.Id == SelectedClub).Courses)
                {
                    <option value="@course.Id">@course.Name</option>
                }
            </select>
            @if (SelectedCourse != "" && Club != null && Players.Count < 4)
            {
                <EditPlayer OnPlayerAdded="AddPlayer" Ratings="@Club.Courses.First(t => t.ID == SelectedCourse).Ratings"></EditPlayer>
            }
        }
        <div class="player-grid">
            <h2>Namn</h2>
            <h2>Hcp</h2>
            <h2>Tee</h2>
            <h2>Strokes</h2>
            <h2></h2>
            @foreach (var player in Players)
            {
                <div class="player-item">@player.Name</div>
                <div class="player-item">@player.Hcp</div>
                <div class="player-item">@player.Tee</div>
                <div class="player-item">@player.CourseHcp</div>
                <i class="oi oi-trash" @onclick="(() => RemovePlayer(player.Name))"></i>
            }
        </div>
        <button disabled="@(SelectedClub == null || SelectedCourse == null || Players.Count == 0)" class="btn btn-primary" @onclick="CreateGame">Create game</button>
    </div>


}